name: Build & Publish Latest Release

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Build
        working-directory: ./RayTraceAntiXray
        run: ../mvnw clean package

      - name: Publish Latest Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: latest
          name: "Latest RayTraceAntiXray Build"
          make_latest: true
          overwrite_files: true
          files: RayTraceAntiXray/target/*.jar   # <-- FIXED & CORRECT


